<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/identify" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="number">Number: </label>
        <input type="json" name="phoneNumber">
        <!-- <input type="hidden" value="<%=new Date().toLocaleString("en-US", {timeZone: "Asia/kolkata"}) %>" name="createdAt">
        <input type="hidden" value="<%=new Date().toLocaleString("en-US", {timeZone: "Asia/kolkata"}) %>" name="updatedAt"> -->
        <button type="submit">Submit</button>

    </form>
</body>


</script> 
</html>